body {
    margin: 0;
}

a {
    color: white;
}

.headerSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.linkButtons {
    background-color: blue;
    color: white;
    height: 1em;
    margin: 2px;
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.websiteLogo {
    background-color: white;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    margin-right: auto;
}

.userLogo {
    background-color: white;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    margin-left: 20px;
}

.footerSection {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin-top: auto;
}

.mainBody {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.googleThing {
    width: 60vw;
    text-align: center;
    font-size: 50px;
}

.searchBar {
    width: 60vw;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-align: left;
    border-color: black;
    color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.enterButton {
    background-color: blue;
    color: white;
    width: 15vw;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.searchSection {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.backToSearch {
    background-color: blue;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 10px;
}

.informationBox {
    background-color: gainsboro;
    padding: 10px;
    margin: 20px;
}

.informationBox h2 {
    color: darkblue;
}

.mainSection {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: stretch;
}

.textStuff {
    display: grid;
    grid-auto-rows: 1fr;
    justify-content: space-between;
}

.photoStuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: blueviolet;
}

.photoOfMe {
    max-width: 20vw;
}